body {
    background-color: #202124; /* Dark background color */
    color: #ffffff; /* Light text color */
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #2d2d2d; /* Darker container background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  h1 {
    text-align: center;
  }
  
  .audio-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  #audioPlayer {
    width: 100%;
    max-width: 400px;
    background-color: #333333; /* Darker player background */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
  }
  
  #audioPlayer::-webkit-media-controls-panel {
    background-color: #333333; /* Darker controls background */
    color: #ffffff; /* Light controls text color */
    border-radius: 8px;
  }
  
  #audioPlayer::-webkit-media-controls-play-button,
  #audioPlayer::-webkit-media-controls-pause-button {
    color: #ffffff; /* Light play/pause button color */
  }
  
  #audioPlayer::-webkit-media-controls-seek-back-button,
  #audioPlayer::-webkit-media-controls-seek-forward-button {
    color: #ffffff; /* Light seek button color */
  }
  
  input[type="file"] {
    margin-top: 10px;
    background-color: #444444; /* Darker file input background */
    color: #ffffff; /* Light file input text color */
    padding: 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
  
  input[type="file"]:hover {
    background-color: #555555; /* Darker hover background */
  }
  